<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099460695920-nmanoqtg0jluue7uc08r4san9l36nomr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099460695920-nmanoqtg0jluue7uc08r4san9l36nomr</string>
	<key>API_KEY</key>
	<string>AIzaSyBeA2Qr3nwZGD6Pql_fZwUfcnbAhcdWHsc</string>
	<key>GCM_SENDER_ID</key>
	<string>1099460695920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meizizi.doraemon</string>
	<key>PROJECT_ID</key>
	<string>whop-5f589</string>
	<key>STORAGE_BUCKET</key>
	<string>whop-5f589.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099460695920:ios:1fe5ddf790f5aad1f621b5</string>
	<key>DATABASE_URL</key>
	<string>https://whop-5f589.firebaseio.com</string>
</dict>
</plist>